#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.country {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 300px;
}
.country-name {
    font-size: 40px;
    color: brown;
}
#country-detail img {
    width: 200px;
}